/* 公共样式 */
.container{
    width: 100%;
    padding: 0;
}
.navbar{
    border: none;
    margin: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.PCtop .col-md-3, .PCtop .col-md-9{
    min-height: 50px;
    background: #f8f8f8;
    position: relative;
}
.PCtop .logo{
    position: absolute;
    top: 0;
    left: 330px;
}
.bottomBOX{
    background: rgb(14, 89, 193);
    color: #fff;
    padding: 40px 0px 0px 130px;
}
.bottomBOX li{
    margin: 10px;
}
.bottominfor{
    background: cyan;
    color: #fff;
}
.flx{
    display: flex;
    line-height: 100px;
}
.flx1{
    flex: 1;
}
.bottominfor .flx{
    margin: 70px 0;
}
.flx input{
    line-height: 20px;
}
.container-xs{
    line-height: 70px;
    text-align: center;
}
.container-xs input{
    line-height: 20px;
}